body { margin:0; font-family:sans-serif; background:#0f172a; color:white; }
.hidden { display:none; }

.navbar {
  display:flex;
  gap:15px;
  padding:15px;
  background:#020617;
}

button {
  background:#2563eb;
  border:none;
  color:white;
  padding:8px 14px;
  cursor:pointer;
  transition:.3s;
}
button:hover { transform:scale(1.1); }

.section { padding:20px; animation:fade .4s; }
@keyframes fade { from{opacity:0} to{opacity:1} }

.login-body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.login-box {
  background:#020617;
  padding:30px;
  border-radius:10px;
}
