* {
    margin : 0;
    padding : 0;
}


body {
    background-color :#548687;
    text-align : center;

}

 
.conatiner{
    height :70vh;
    display:flex;
    justify-content :center;
    align-items :center;
    gap : 1.5vmin
    
}
.game{
    height : 60vmin;
    width : 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content : center;
    align-items : center;
    gap : 1.5vmin


}

.box{
    background-color :bisque;
    height :18vmin;
    width : 18vmin;
    border-radius :  1rem;
    border : none;
    box-shadow : 0 0 1rem rgba(0,0,0.3);
    font-size :50px;
    color : rgba(18, 11, 11, 0.66)
}
#reset{
    background-color :beige;
    height : 50px;
    width: 100px;
    border-radius :  1rem;
    border : none;
    box-shadow : 0 0 1rem rgba(0,0,0.3);
    font-size :20px;
    color : rgba(105, 101, 101, 0.66)

 
}
.hide{
    display : none
}



#new{
    background-color :beige;
    height : 50px;
    width: 100px;
    border-radius :  1rem;
    border : none;
    box-shadow : 0 0 1rem rgba(0,0,0.3);
    font-size :20px;
    color : rgba(105, 101, 101, 0.66)
}
#msgg{
    color :#ffffc7;
    font-size : 5vmin;

}
.msg{
    height:30vmin
} 


 
